/* 改变主题色变量 */
$--color-primary: #ffb000;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

// 登陆框背景色
$login-bg-color: #fafafa7c;
// 主题色
$theme: #FFD161;
// 副主题
$subtopic: #ffb000;
// 灰色边框色
$border-color1: #eee;